name: Xcode - Clean and Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build and analyse default scheme using xcodebuild command
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Selecting Xcode Version
        run: sudo xcode-select -switch /Applications/Xcode_14.2.app

      - name: Running Xcode version
        run: /usr/bin/xcodebuild -version

      - name: Build Cleanup
        run: |
          xcodebuild clean -project PaystackAssessment.xcodeproj -scheme PaystackAssessment | xcpretty

      - name: Build Test
        run: |
          xcodebuild test -project PaystackAssessment.xcodeproj -scheme PaystackAssessment -destination 'platform=iOS Simulator,id=dvtdevice-DVTiOSDeviceSimulatorPlaceholder-iphonesimulator:placeholder,name=Any iOS Simulator Device' -enableCodeCoverage YES | xcpretty -s
            
